<div ng-controller="createOrderController">

    <div class="section">
        <div class="container center">
            <h1 class="title">Nuevo Pedido</h1>
        </div>

        <div class="container">
            <label>Estado:</label>
            <span>Borrador</span>
        </div>

        <div class="container right">
            <button ng-click="saveOrder(order)" class="button">Guardar</button>
            <button ng-click="sendOrder(order)" class="button">Enviar</button>
            <button ng-click="redirectTo('/')" class="button">Regresar</button>
        </div>
    </div>

    <div class="section">
        <div class="container">
            <label>Cliente:</label>
            <input type="text" ng-model="order.customer" class="input" placeholder="Freddy Mercury">
        </div>    
    </div>

    <div class="section ">
        <div class="container">
            <table class="table">
                <tr class="is-selected">
                    <th>Producto</th>
                    <th></th>
                </tr>
                <tr ng-repeat="product in order.products">
                    <td>
                        {{product.name}}
                    </td>
                    <td>    
                        <a ng-click="deleteSelectedProduct(product.id)" class="delete is-small"></a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    
    <div class="section">
        <div class="container">
            <label>Producto:</label>
            <div class="select is-multiple">
                <select ng-model="newProduct.name">
                    <option ng-repeat="product in products">
                        {{product.name}}
                    </option>
                </select>
            </div>
        </div>
        <div class="container right">
            <p>Cantidad de productos: {{order.products.length}}</p>
        </div>
        <div class="container center">
            {{errorMessage}}
        </div>
    </div>
    <div class="section">
        <div class="container center">
            <button ng-click="addSelectedProduct()" class="button is-primary">Agregar</button>
        </div>
    </div>


</div>
